{% raw %}{% extends "base.html" %}
{% load vue_utils %}
{% endraw %}
{% if cookiecutter.use_vue == "y" %}
{% raw %}{% block content %}{% endraw %}

<div id="app">
  <h1>You're almost there!</h1>
  <hr />
  <p>To see Vue in action alongside this Django application, run the Vite dev server.</p>

  <h5>in a terminal, run:</h5>

  <code>
     cd vue_frontend<br/>
     npm install<br/>
     npm run dev<br/>
     </code>
  <br/>

  {% if cookiecutter.editor == "PyCharm" %}
  <h5>or via Pycharm:</h5>
  <br/>
  <p>Set your Node interpreter in PyCharm (<code>Settings -> Languages & Frameworks -> Node.js</code>)
    then execute the run configuration <code>npm install</code> then <code>vite dev</code></p>
  {% endif %}

  {% if cookiecutter.use_docker == "y" %}
  <h5>or via Docker:</h5>
  <br/>
  <p><code>docker-compose -f local.yml up</code></p>
  {% endif %}



</div>
{% raw %}{% endblock content %}{% endraw %}

{% raw %}{% block inline_javascript %}{% endraw %}
  <script type="module" crossorigin src="{% raw %}{% vue_bundle_url 'main' %}{% endraw %}"></script>
{% raw %}{% endblock inline_javascript %}{% endraw %}
{% endif %}
